[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-oauthlib = "*"
flask-uploads = "*"
flask-mail = "*"
flask-analytics = "*"

[dev-packages]

[requires]
python_version = "3.8"
